#container {
  height: 400px;
  width: 400px;
  background-color: white;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  height: 100px;
  width: 100px;
  background-color: grey;
  font-size: 50px;
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
}

#navbar {
  height: 50px;
  width: 900px;
  background-color: pink;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.content {
  height: 50px;
  width: 80px;
  font-size: 24px;
  border-radius: 10px;
  margin-left: 5px;
  line-height: 50px;
}