#container {
  height: 100vh;
  background-color: white;
  display: grid;

  grid-template-rows: repeat(12,1fr);
  grid-template-columns: repeat(12,1fr);
  grid-gap: 10px;
}

#header {
  grid-column: 1/span 12;
}

#sidebar { 
  grid-row: 2/span 10;
  grid-column: 1/span 3;
} 

#navigation {
  grid-column: 4/span 6;
}

#ads {
  grid-row: 2/span 10;
  grid-column: 10/span 3;
}

#main {
  grid-row: 3/span 9;
  grid-column: 4/span 6;
}

#footer {
  grid-column: 1/span 12;
} 

.item {
  background-color: pink;
  font-size: 1.5em;
}

@media (max-width: 720px) {
  #header {
    grid-column: 1/span 12;
  }

  #sidebar { 
    grid-row: 3/span 9;
    grid-column: 1/span 3;
  } 

  #navigation {
    grid-row: 2/span 1;
    grid-column: 1/span 12;
  }

  #ads {
    grid-row: 12;
    grid-column: 1/span 3;
  }

  #main {
    grid-row: 3/span 9;
    grid-column: 4/span 9;
  }

  #footer {
    grid-row: 12;
    grid-column: 4/span 9;
  }

  .item {
    font-size: 1.5em;
  }
}

.loader{
  border : 16px solid #f3f3f3;
  border-top : 16px solid goldenrod;
  border-radius : 50%;
  width : 120px;
  height : 120px;
  animation : spin 2s linear infinite;
}

@keyframes spin {
  0% {
    /*Set rotation to 0 degrees*/
    transform: rotate(0deg);
  }
  100%{
    /*Set rotation to 360 degrees*/
    transform: rotate(360deg);
  }
}