#container {
  height: 300px;
  width: 80%;
  background-color: azure;
  margin: 10px auto;
  border: 2px solid black;
  display: flex; /*by default remains in row arrangement*/
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
}

h1 {
  text-align: center;
}

#container div {
  height: 100px;
  width: 200px;
  color: white;
  text-align: center;
  font-size: 1.5em;
}