.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: pink;
}

.one {
    background-color: aqua;
    position: relative;
    z-index: 1;
}

.two {
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: 0;
}