* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #c25e6a;
}

div {
    background-color: #ffe3e6;
}

h2 {
    color: #fe939d;
}

input {
    background-color: #00c9c1;
    color: white;
}