* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #ec1328;
}

#login {
    background-color: white;
}

#signup {
    background-color: #ec1328;
    color: white;
}

main p {
    color: #13ecd7;
    font-weight: bold;
}

main p a {
    font-weight: normal;
}

span > button {
    color: black;
    background-color: white;
}

h3 {
    font-size: 20px;
}