

.face {
  height: 200px;
  width: 200px;
  background-color: #ffa511;
  border-radius: 50%;
}

.mouth {
  height: 25px;
  width: 105px;
  background-color: red;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 140px;
  left: 54px;
}

.left-eye, .right-eye {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 15px;
  display: inline-block;
  position: absolute;
  top: 40px;
}

.left-eye{
  left: 40px;
}

.right-eye {
  left: 110px;
}